* {
    box-sizing: border-box; /* */
    }
    .conteneur{
        width: 80%;
        margin: 0 auto;
    }

   

a{
  text-decoration:none;
}
.p{
  text-align: center;
}
body{
  line-height: 2;
    background-color: beige;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    margin-top: 60px;
    font-size: 2.5em ;
    font-weight: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.jeu{
  padding: 30px;
}
.bloc{
  color: #000;
    padding: 10px;
    background-color:rgb(249, 181, 56);
    border-radius: 30px;
    border: 0px solid black;
    font-size: 1em;
    text-align: center;
    margin: auto;
    padding: auto;
}
.button{
  color: #000;
    padding: 10px;
    background-color: #fff;
    border-radius: 15px;
    display: inline-block;
    border: 2px solid black;
    font-size: 1em;
    text-align: center;
    margin: 5px;
    padding: 5px;
}
a:hover{
  background-color:#0056b3;
  border-radius: 50px;
}
.nav{
    
    background-color: aliceblue;
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding: 7px ;
    margin: 5px;
    border: 1px solid #000;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 1);
    padding-left: 30px;
    padding-right: 30px;
}
.nav a{

    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
}
.logo{
    width: 40px;

}
.img{
  border-radius: 50%;
}
.display{
  display: flex;
  justify-content: space-around;
  align-items:center;
  
}
.col{
  display: flex;
  justify-content: space-around;
  align-items:center;
      padding: 0px ;
      border: 1px solid #000;
  border-radius: 30px;
  box-shadow: #000;
  padding: 20px;
  margin: 20px;
  cursor: pointer;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 1);
  }
.container {
    max-width: AUTO;
    margin: 50px auto;
    padding: 50px;
    width: 60%;
    background-color: #737b83;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 1);
  }
  h3,h2{
    text-align: center;
    margin-bottom: 20px;
    font: 1.5em sans-serif;
  }
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 60px;
  }
 
  input[type="submit"] {
    display: block;
    font-size: 15px;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: burlywood;
  }
  .icone{
    display: flex;
    justify-content:space-between;
    /*display:inline-block;*/
    width: 100%;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
    border: 1px solid #000;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 1);
    background-color: aliceblue;
    
}
  .foot{
    padding: 10px;
  }
.row {
    display: flex;
    flex-flow: row wrap;
    
    }
.col-1 {
    width: 8.333333%;
    padding: 25px;
    }
    .col-2 {
    width: 16.6666%;
    padding: 25px;
    }
    .col-3 {
    width: 25%;
    padding: 25px;
    }
    .col-4 {
    width: 33.333333%;
    padding: 25px;
    }
    
    .col-5 {
    width: 41.6666666%;
    padding: 25px;
    }
    .col-6 {
    width: 50%;
    padding: 25px;
    
    }
    .col-7 {
    width: 58.333333%;
    padding: 25px;
    }
    .col-8 {
    width: 66.666666%;
    padding: 25px;
    }
    
    .col-9 {
    width: 75%;
    padding: 25px;
    }
    .col-10 {
    width: 83.333333%;
    padding: 25px;
    }
    .col-11 {
    width: 91.666666%;
    padding: 25px;
    }
    .col-12 {
    width: 100%;
    padding: 25px;
    }