* {
    box-sizing: border-box; /* */
    }
    .conteneur{
        width: 95%;
        margin: 0 auto;
    }
body{
    background-color: beige;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    margin-top: 60px;
    font-size: 2.5em ;
    font-weight: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.button{
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    display: inline-block;
    border: 2px solid black;
    font-size: 1em;
    text-align: center;
    margin: 10px;
    padding: 5px;
}
.nav{
    background-color: aliceblue;
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding: 0px ;
    border: 1px solid #000;
    border-radius: 10px;
}
.nav a{
    padding: 15px;
}
.logo{
    width: 40px;

}
.container {
    max-width: AUTO;
    margin: 50px auto;
    padding: 20px;
    background-color: #737b83;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  h3,h2{
    text-align: center;
    margin-bottom: 20px;
    font: 1.5em sans-serif;
  }
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .icone{
    display: flex;
    justify-content:space-between;
    display:inline-block;
    width: 60%;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
}
  
.row {
    display: flex;
    flex-flow: row wrap;
    }
.col-1 {
    width: 8.333333%;
    padding: 25px;
    }
    .col-2 {
    width: 16.6666%;
    padding: 25px;
    }
    .col-3 {
    width: 25%;
    padding: 25px;
    }
    .col-4 {
    width: 33.333333%;
    padding: 25px;
    }
    
    .col-5 {
    width: 41.6666666%;
    padding: 25px;
    }
    .col-6 {
    width: 50%;
    padding: 25px;
    }
    .col-7 {
    width: 58.333333%;
    padding: 25px;
    }
    .col-8 {
    width: 66.666666%;
    padding: 25px;
    }
    
    .col-9 {
    width: 75%;
    padding: 25px;
    }
    .col-10 {
    width: 83.333333%;
    padding: 25px;
    }
    .col-11 {
    width: 91.666666%;
    padding: 25px;
    }
    .col-12 {
    width: 100%;
    padding: 25px;
    }